h1 {
  font-family: TourneyRegular, serif;
  font-weight: bold;
  color: #9C27B0;
  padding-left: 8px;
  margin-top: -26px;
}

h2 {
  font-family: ShadowsIntoLightRegular, serif;
  font-weight: bold;
  font-size: 17px;
  color: #26C6DA;
  margin-top: -24px;
  margin-left: -6px;
  transform: rotate(20deg);
}

.logo-container {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 9px;
  margin-top: 36px;
}

.crown {
  color: #EC407A !important;
  font-size: 36px;
  padding-top: 8px;
}

.decagram {
  color: #FFCC80;
  position: absolute;
  font-size: 109px;
  margin-left: -52px;
  margin-top: 38px;
  z-index: -1;
}

.decagram-background{
  color: white;
  position: absolute;
  font-size: 130px;
  margin-left: -63px;
  margin-top: 38px;
  z-index: -2;
  text-shadow: rgba(0,0,0,0.1) -2px 0, rgba(0,0,0,0.1) 0 -2px,
  rgba(255,255,255,0.1) 2px 0, rgba(255,255,255,0.1) 0 2px,
  rgba(0,0,0,0.1) -2px -2px, rgba(255,255,255,0.1) 2px 2px;
}
